@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./backgrounds.css";
@import "./text.css";
@import "./buttons.css";

html,
body {
    @apply text-white text-opacity-70;
}

.page-wrapper {
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

.min-h-half-screen {
    min-height: 80vh;
}
