.section-bg {
    &.bg-1 {
        background-image: url(../pic1.jpg);
        background-position: center;
        background-size: cover;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.4;
        z-index: 0;
    }
}

.bg-gradient-2 {
    background: linear-gradient(180deg, #004b5b 0%, #ffa7a7 100%),
        linear-gradient(244.35deg, #ffb26a 0%, #51bbc1 50.58%, #00a3ff 100%),
        linear-gradient(244.35deg, #e03f3f 0%, #001665 49.48%, #ff0000 100%),
        radial-gradient(100% 233.99% at 0% 100%, #ff0000 0%, #ad00ff 100%),
        linear-gradient(307.27deg, #096f5c 0.37%, #687eb5 50.19%, #8877ce 100%),
        radial-gradient(100% 140% at 100% 0%, #ff00c7 0%, #006c7a 49.48%, #760000 100%);
    background-blend-mode: overlay, overlay, overlay, difference, color-dodge, normal;
}
